* {
   font-family: "Inter", sans-serif;
   background-color: rgb(255, 255, 255);
   color: black;
}

ul {
  list-style-type: none;
}

.form-product {
  background-color: rgb(255, 224, 138);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 40%;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
}

.form-product button {
  width: 100%;
  background-color: white;
  font-size: 15px;
  font-weight: bolder;
  padding: 5px 10px;
  color: rgb(255, 224, 138);
  border: none;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid rgb(255, 224, 138)
}

.form-product button:hover {
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.form-product-container {
  color: white;
  background-color: rgb(255, 224, 138);
  display: flex;
  width: 100%;
  margin-top: 10px;
}

.form-product-container input  {
  width: 80%;
  background-color: white;
  color: grey;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
}

.form-product-container label  {
  background-color: rgb(255, 224, 138);
  text-align: left;
  width: 20%;
  font-size: 20px;

}

h1, h2 {
  text-align: center;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: 4px solid rgb(255, 224, 138);
  padding: 20px;
}


td {
  width: 10%;
  text-align: center;
  padding: 10px;
  font-size: 20px;
}
.action-button {
  color: white;
  border: none;
  padding: 5px 10px ;
  border-radius: 5px;
}

.action-button:hover {
  cursor: pointer;
}
.details-button {
  background-color: rgb(132, 189, 255);

}

.edit-button {
  background-color: rgb(255, 224, 138);
}

.delete-button {
  background-color: rgb(250, 174, 174);
}

th {
  font-size: 20px;
  text-align: center;
  padding: 8px;
  background-color: rgb(255, 224, 138);
  color: white;
}
